#vid {
    /* background-image: url(https://media.wired.com/photos/597a7bd948bf9d7991d52f83/125:94/w_596,h_448,c_limit/Wired_poop2.jpg); */
    background-image: url(../Images/Doggo.jpg);
    height: 1000px;
    text-align: center;
    color: pink;
    font-size: 20vw;
    padding-top: 15%;
    margin-top: 0;

}
